.form_main {
    margin: 1rem;
    padding: 1rem;
    width: 18.75;
    display: grid;
    box-shadow: 0 1.5em 2em -1em #999;
    border: 1px solid black
}

.form_main>h3 {
    color: #000000;
    text-align: center;
}

.form_main>input {
    padding: 1rem;
    margin-top: 0.5rem;
    outline: none;
}