.form_main{
    margin:1rem;
    padding:1rem;
    width:300px;
    
    display:grid;
    box-shadow: 0 1.5em 2em -1em #999;
    border:1px solid black
    /* background:#1976d2; */
}

.form_main>h3{
    
    /* background:#1976d2; */
    color:#000000;
    text-align: center;
}

.form_main>input{
    padding:1rem;
    margin-top:0.5rem;
    outline:none;
}