* {
    margin: 0;
    padding: 0;
}

.wishlist_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: card;
    justify-items: center;

}
.loading{
    position:absolute;
    top:50%;
    text-align: center;
    left:30%;
    color:#f00;
}

.card {
    display: grid;
    width: 210px;
    /* grid-row-gap:40px; */
    /* border: 1px solid gray; */
    border-radius:0.5rem;
    margin: 1rem;
    padding: 1rem;
    align-self: stretch;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.wishlist>img {
    width: 110px;

}

.info {
    display:grid;
    padding: 1rem;
}

.info>h2 {
    font-size: 0.7rem;
}