.main{
    display:grid;
    grid-area:main;
    
    grid-template-areas:
    "search card card card"
    "options card card card";
  
    margin-top:5%;
    
   
}



@media screen and (max-width:441px){
    .main{
        display:grid;
        grid-area:main;
        margin-top:15%;
        justify-content:center;
    }
}