.card {
    width: 15.625rem;
    height: 25rem;
}

.card-img>img {
    height: 15.625rem;
}

.wishlist_icon {
    cursor: pointer;
    float: right;
    margin-top: -14%;
    margin-right: 4%;
    width: 1.563rem;
}

.card-title>h4 {
    text-align: center;
    font-size: 1rem;
}