.sort_products{
    width:90%;
   
    display:grid;
    grid-area:sort;
   
    
}
h3{
    /* grid-area:text; */
    padding:1rem;
}

h3>label{
    font-weight: 400;
}

/* button{
    
    grid-area:button;
    
} */


