.sort{
    grid-area:sort;
  
}

.filter{
    grid-area:filter;
    top:34%;
    left:0;
    
   
}

.options-main {
    display: grid;
   align-self: start;
   grid-template-areas: "sort" "filter";

}

.options-card {
    grid-area: options;
    width: 15.625rem;
    margin: 1.3rem 0 0 1rem;
    padding: 1rem 0.5rem;
    box-shadow: 0 0 6px #d1d5db;
    text-align: center;
    position:fixed;
}

.options-card>h2 {
    margin-bottom: 1rem;
}

.options-card>p>label {
    margin-right: 1rem;
}

.options-card>p>label>input {
    margin-right: 0.3rem;
}

.options-card>.btn{
    margin-top:1rem;
    width: 50%;
    
}